<igx-grid [data]="webinarRestCustomerCustomersWebinar" rowSelection="multiple" [allowFiltering]="true" filterMode="excelStyleFilter" [autoGenerate]="false" height="849px" displayDensity="cosy" primaryKey="CustomerID" class="grid">
  <igx-column field="CustomerID" header="CustomerID" title="CustomerID" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="CompanyName" header="CompanyName" title="CompanyName" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="ContactName" header="ContactName" title="ContactName" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="ContactTitle" header="ContactTitle" title="ContactTitle" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="Address" header="Address" title="Address" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="City" header="City" title="City" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="Region" header="Region" title="Region" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="PostalCode" header="PostalCode" title="PostalCode" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="Country" header="Country" title="Country" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="Phone" header="Phone" title="Phone" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="Fax" header="Fax" title="Fax" dataType="string" [sortable]="true" [movable]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-action-strip>
    <igx-grid-pinning-actions></igx-grid-pinning-actions>
    <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
  </igx-action-strip>
  <igx-grid-toolbar>
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
    </igx-grid-toolbar-actions>
  </igx-grid-toolbar>
</igx-grid>
